/*!
 * HW1ll Sass pack v1.0.0
 */

@import "variables";
@import "mixins";
@import "layout";

// MOBILE FIRST START HERE
// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

body {
  @include font-size(12px);
}

// FONTS 
.open-sans {
  font-family: $ft-open-sans;
}

.open-sans-condensed {
  font-family: $ft-open-sans-condensed;
}

.roboto {
  font-family: $ft-roboto;
}

.roboto-condensed {
  font-family: $ft-roboto-condensed;
}

// COLORS
.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}