.btn-link {
  color: $color-primary;

  &:hover,
  &.hover {
    color: $color-secondary;
  }

  &:focus,
  &.focus {
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $color-white;
    pointer-events: none;
  }

}