// FONTS CLASSES

.open-sans {
  font-family: $ft-open-sans;
}

.open-sans-condensed {
  font-family: $ft-open-sans-condensed;
}

.roboto {
  font-family: $ft-roboto;
}

.roboto-condensed {
  font-family: $ft-roboto-condensed;
}